; vim: filetype=clojure

(logging/init :file "reimann.log")

(tcp-server)
(udp-server)

(periodically-expire 10)

(let [client (tcp-client)
      ; Keep events for 5 minutes by default
      index (default :ttl 300 (update-index (index)))]

  (streams
    (with {:metric_f 1 :host nil :state "ok" :service "events/sec"}
      (rate 5 index))

    (where (service #"^per")
      (percentiles 5 [0 0.5 0.95 0.99 1]
        index))
   
    ; Log expired events.
    (expired
      (fn [event] (info "expired" event)))

    index
))
