; vim: filetype=clojure

(logging/init :file "riemann.log")

(tcp-server)
(udp-server)
(ws-server)

(periodically-expire 10)

(let [client (tcp-client)
      ; Keep events for 5 minutes by default
      email (mailer {:from "riemann@rickenbacker.mil"})
      index (default :ttl 300 (update-index (index)))]

;  (subscribe "my channel" prn)
;  (subscribe "index" (fn [e] (prn "Index got " e)))

  (streams
    index
  )
)
