; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init :file "riemann.log")

(tcp-server :tls? true
            :key "test/data/tls/server.pkcs8"
            :cert "test/data/tls/server.crt"
            :ca-cert "test/data/tls/demoCA/cacert.pem")

(udp-server)
(ws-server)
(repl-server)

(periodically-expire 10)

(let [index (default :ttl 300 (update-index (index)))]
  (streams
    prn
    index
))
