body {
  font-size: 15px;
  color: #342B2B;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body {
  width: 100%;
  height: 1000px;
  border: none;
  margin: 0;
  padding: 0;
}

#header {
  height: 47px;

  /* Black gradient */
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(36,36,36) 82%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(36,36,36) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(36,36,36) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(36,36,36) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(36,36,36) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.82, rgb(36,36,36))
  );
}

#site-nav {
  width: 920px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;

  /* Red gradient /
  background-image: linear-gradient(bottom, rgb(163,6,19) 0%, rgb(235,0,0) 82%);
  background-image: -o-linear-gradient(bottom, rgb(163,6,19) 0%, rgb(235,0,0) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(163,6,19) 0%, rgb(235,0,0) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(163,6,19) 0%, rgb(235,0,0) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(163,6,19) 0%, rgb(235,0,0) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(163,6,19)),
    color-stop(0.82, rgb(235,0,0))
  );*/
}

#site-nav a:first-child {
  padding-left: 0;
}
#site-nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 16px;
}

#site-nav a:hover {
  text-decoration: underline;
  color: #FF0F0F;
}

#content {
  margin: 0 auto;
  width: 920px;
  padding: 20px;
  text-align: justify;
  text-justify: distribute;
}

#footer {
  margin: 20px auto 40px auto;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 920px;
  font-size: 90%;
  color: #666;
}

#footer a {
  color: #342B2B;
}

.callout {
  font-size: 120%;
  color: #333;
}
.focus {
  color: #FF0F0F
}
.unfocus {
  color: #778;
}
.clear {
  clear: both;
}
a {
  color: #FF0F0F;
}

h1:first-child,
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h4, h5, h6 {
  margin-top: 0.2em;
}
h1 {
  font-size: 42px;
  margin: 20px 0;
}
h2 { 
  font-size: 28px;
  margin: 20px 0;
}
h3 {
  font-size: 20px;
  margin: 16px 0;
}

p {
  line-height: 134%;
  margin-top: 0.8em;
}
p:first-child {
  margin-top: 0;
}

table {
  margin-top: 10px;
  collapse-border: collapse;
}
th {
  font-weight: bolder;
}
td,th {
  padding: 6px;
  border: 1px solid #ccc;
}

code {
  font: monospace;
  color: #001843;
}

div.highlight, code pre {
  margin-top: 10px;
  background-color: #eee;
  padding: 6px;
  font-size: 85%;
}

.cards {
  margin: 10px 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-gap: 40px;
}

.card {
  display: inline-block;
  margin: 10px 0;
  width: 434px;
}
.card h2 {
  margin-bottom: 0;
}
.card img, .float-right-small img {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.card p { line-height: 120%; }

.cta {
  border-top: 10px solid #FF0F0F;
}
.cta h2 {
  margin: 10px 0;
}

.float-left-large {
  width: 587px;
  float: left;
}
.float-right-small {
  width: 293px;
  float: right;
}

#iframe-wrapper {
  position: fixed;
  top: 47px;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
}

#iframe-wrapper iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
