    <div id="header">
      <nav id="site-nav">
        <a href="index.html" target="body">Riemann</a>
        <a href="quickstart.html" target="body">Quickstart</a>
        <a href="concepts.html" target="body">Concepts</a>
        <a href="configuring.html" target="body">Configuring</a>
        <a href="api.html" target="body">API</a>
        <a href="clients.html" target="body">Clients</a>
        <a href="dashboard.html" target="body">Dashboard</a>
        <a href="contributing.html" target="body">Contributing</a>
        <a href="http://github.com/aphyr/riemann">Github</a>
      </nav>
    </div>
