    <div id="header" class="row">
      <nav id="site-nav" class="twelvecol">
      <a id="home" href="/"><img src="images/logo-header.png" alt="Riemann" /></span></a>
      <a href="quickstart.html"><span>Quickstart</span></a>
      <a href="concepts.html"><span>Concepts</span></a>
      <a href="howto.html"><span>Howto</span></a>
      <a href="clojure.html"<span>Clojure</span></a>
      <a href="api.html"><span>API</span></a>
      <a href="clients.html"><span>Clients</span></a>
      <a href="dashboard.html"><span>Dashboard</span></a>
      <a href="support.html"><span>Support</span></a>
      <a href="thanks.html"><span>Thanks</span></a>
      <a href="http://github.com/aphyr/riemann"><span>Github</span></a>
      </nav>
    </div>
