    <div id="header">
      <nav id="site-nav">
        <a href="index.html" target="body">Riemann</a>
        <a href="quickstart.html" target="body">Quickstart</a>
        <a href="howto.html" target="body">Howto</a>
        <a href="concepts.html" target="body">Concepts</a>
        <a href="api.html" target="body">API</a>
        <a href="clients.html" target="body">Clients</a>
        <a href="dashboard.html" target="body">Dashboard</a>
        <a href="support.html" target="body">Support</a>
        <a href="thanks.html" target="body">Thanks</a>
        <a href="http://github.com/aphyr/riemann">Github</a>
      </nav>
    </div>
